@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "STC";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/STC-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "STC";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/STC-Bold.ttf") format("truetype");
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-button-disabled {
  opacity: 1 !important;
  color: #868591 !important;
}

#swiper-button-next,
#swiper-button-prev,
#button-prev,
#button-next {
  width: unset !important;
  height: unset !important;
  margin-top: unset !important;
}

#swiper-button-next::after,
#swiper-button-prev::after,
#button-next::after,
#button-prev::after {
  content: none !important;
}
